*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul, ol{
    list-style: none;
}
h1{
    font-size: 35px;
}
p{
    margin-top: 15px;
    font-size: 15px;
    padding: 0;
}
.pad{
    padding-bottom: 100px;
}
.title{
    margin-top: 30px;
}
/* header */
header{
    background-color: #255EE9;
}
.header-section{
    padding-top: 15px;
}
.gap{
    gap: 25px;
}
.bg-jumbo{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nav-bar{
    width: 100%;
    justify-content: space-around;
}
.header-p{
    width: 400px;
}
/* container */
.container .flex{
    padding: 30px;  
    width: 1000px; 
}
.small-container .flex{
    padding-top: 15px;
    width: 600px;
    margin-bottom: 10px;
}
/* col */
.border{
    border: dashed 1px;
}
.col-66{
    width: calc(2*100% / 3);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.col-33{
    width: calc(100% / 3);
}
.col-100{
    width: 1000px;
    height: 500px;
    border: dashed 1px;
}
.col-1-6{
    width: calc(100% / 6);
    height: 100px;
    outline: dashed 1px black;
    border: dashed 1px white;
}
/* color */
.white{
    color: white;
}
.black{
    color: black;
}
/* butttons */
button{
    border-radius: 20px;
    border: 0;
    background-color: white;
}
.login-button{
    width: 70px;
    height: 30px;
    font-size: 10px;
}
.download-b{
    width: 150px;
    height: 40px;
}
.open-b{
    width: 200px;
    height: 40px;
    background-color: #23272A;
}
.button-section{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    width: 650px;
    height: 40px;
}
/* flex */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.align-items{
    align-items: center;
}
.row{
    flex-direction: row;
}
.reversed-row{
    flex-direction: row-reverse;
}
.column{
    flex-direction: column;
}
.text-align-center{
    text-align: center;
}
.text-align-start{
    text-align: start;
}
/* footer */
#footer .flex{
    justify-content: center;
    background-color: #23272A;
    height: 50px
}
/* img */
.img-second-section{
    background-image: url(../img/item1.svg);
}
.img-third-section{
    background-image: url(../img/item2.svg);
    height: 250px;
}